<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.targumanu.itunessearch</string>
	<key>connections</key>
	<dict>
		<key>000CB940-F421-4699-B244-C60E6C6620BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>1A27CAA3-AAC7-4D95-BED0-C98DA5DE2F10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>2106621E-EB75-4C3A-A1BD-65F986EE9AB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>000CB940-F421-4699-B244-C60E6C6620BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2DF885AC-2F12-42DF-A79B-9360BDD56DD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>3C61999B-B562-437F-B277-450521B3E58C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>5FBF7C75-2122-4550-A41E-FF6AD566E8FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>6E598328-32FA-4A73-92BB-F1DF7C149483</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>7491AD9C-06F8-479F-B832-FAD97A64F948</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>929FAD7B-FBF0-4BCE-87A6-2EBBB500319F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>A6E058E6-78F9-4898-8F08-CC3CBD989101</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>B5500630-52AB-46F2-A487-3E00C84029DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>409A8642-0354-479F-A957-521F6EA79702</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB2273F8-1586-4294-8F37-B85DA1B11AE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>000CB940-F421-4699-B244-C60E6C6620BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F52DA9DC-4598-46F1-9800-65B0503E0164</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Matochkin</string>
	<key>description</key>
	<string>Search the iTunes store</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iTunes Store Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>it</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store</string>
				<key>title</key>
				<string>Search iTunes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>000CB940-F421-4699-B244-C60E6C6620BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BB2273F8-1586-4294-8F37-B85DA1B11AE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./iTunesSearch -itunes: "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ital</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -album "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for music albums</string>
				<key>title</key>
				<string>Search for Albums</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2DF885AC-2F12-42DF-A79B-9360BDD56DD7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2106621E-EB75-4C3A-A1BD-65F986EE9AB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>itapp</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -software "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for apps</string>
				<key>title</key>
				<string>Search for Apps</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7491AD9C-06F8-479F-B832-FAD97A64F948</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>itau</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -audiobook "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for audiobooks</string>
				<key>title</key>
				<string>Search for Audiobooks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5FBF7C75-2122-4550-A41E-FF6AD566E8FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>itep</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -tvEpisode "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for TV show episodes</string>
				<key>title</key>
				<string>Search for TV Show Episodes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6E598328-32FA-4A73-92BB-F1DF7C149483</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>itmo</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -movie "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for movies</string>
				<key>title</key>
				<string>Search for Movies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3C61999B-B562-437F-B277-450521B3E58C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>itmv</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -musicVideo "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for music videos</string>
				<key>title</key>
				<string>Search for Music Videos</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>929FAD7B-FBF0-4BCE-87A6-2EBBB500319F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>itpo</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -podcast "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for podcasts</string>
				<key>title</key>
				<string>Search for Podcasts</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1A27CAA3-AAC7-4D95-BED0-C98DA5DE2F10</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>its</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -song "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for songs by title, artist or album</string>
				<key>title</key>
				<string>Search for Songs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A6E058E6-78F9-4898-8F08-CC3CBD989101</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ittv</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./iTunesSearch -tvSeason "{query}"</string>
				<key>subtext</key>
				<string>Search iTunes Store for TV shows</string>
				<key>title</key>
				<string>Search for TV Shows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F52DA9DC-4598-46F1-9800-65B0503E0164</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./iTunesSearch -preview: "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>itprefs</string>
				<key>runningsubtext</key>
				<string>Working...</string>
				<key>script</key>
				<string>./iTunesSearch -prefs: "{query}"</string>
				<key>subtext</key>
				<string>Open iTunes Store search preferences</string>
				<key>title</key>
				<string>iTunes Search Preferences</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B5500630-52AB-46F2-A487-3E00C84029DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./iTunesSearch -prefs: "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>409A8642-0354-479F-A957-521F6EA79702</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>000CB940-F421-4699-B244-C60E6C6620BC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1A27CAA3-AAC7-4D95-BED0-C98DA5DE2F10</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>2106621E-EB75-4C3A-A1BD-65F986EE9AB0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2DF885AC-2F12-42DF-A79B-9360BDD56DD7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>38EBEE5E-9511-4CDC-A9A9-3988A4F8F1C9</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>3C61999B-B562-437F-B277-450521B3E58C</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>409A8642-0354-479F-A957-521F6EA79702</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>5FBF7C75-2122-4550-A41E-FF6AD566E8FD</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>6E598328-32FA-4A73-92BB-F1DF7C149483</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>7491AD9C-06F8-479F-B832-FAD97A64F948</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>929FAD7B-FBF0-4BCE-87A6-2EBBB500319F</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>A6E058E6-78F9-4898-8F08-CC3CBD989101</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>B5500630-52AB-46F2-A487-3E00C84029DB</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>BB2273F8-1586-4294-8F37-B85DA1B11AE3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C3F13E05-CE56-42A5-A85B-B17ECE0C89F7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F52DA9DC-4598-46F1-9800-65B0503E0164</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
