<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mcduffie.findcomicbooks</string>
	<key>connections</key>
	<dict>
		<key>AD457EE2-3852-403B-9D5D-4879D768834F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A10A053-16E6-425F-AFC3-8B37958F87F4</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy query result to clipboard (testing)</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09EF8147-489B-4570-8B2E-D24839F3EAF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>65923303-E73E-4DC0-A5FF-F9B1C1B38245</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Find the comic book title in Spotlight</string>
			</dict>
		</array>
		<key>FD54D6D5-6EEF-4150-9A25-484F64E3ACE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2B8AA0C-E564-4080-BCC4-8A770C1DA73B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike McDuffie</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Find Comic Books</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6A10A053-16E6-425F-AFC3-8B37958F87F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>fc</string>
				<key>scopes</key>
				<array>
					<string>/Volumes/Comics RAID</string>
					<string>/Volumes/Data SSD/Downloads</string>
				</array>
				<key>subtext</key>
				<string>Find comic books in Download  and on Comics RAID</string>
				<key>title</key>
				<string>Find Comics</string>
				<key>types</key>
				<array>
					<string>com.macitbetter.cbr-archive</string>
					<string>com.macitbetter.cbz-archive</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>AD457EE2-3852-403B-9D5D-4879D768834F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>09EF8147-489B-4570-8B2E-D24839F3EAF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/find-in-spotlight.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65923303-E73E-4DC0-A5FF-F9B1C1B38245</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>say "what the fuck"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>121CED9E-0588-489D-9DFA-1B400CF57133</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>fcf</string>
				<key>scopes</key>
				<array>
					<string>/Volumes/Comics RAID</string>
					<string>/Volumes/Data SSD/Downloads</string>
				</array>
				<key>subtext</key>
				<string>Find folders in Download  and on Comics RAID</string>
				<key>title</key>
				<string>Find Comics Folders</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FD54D6D5-6EEF-4150-9A25-484F64E3ACE6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D2B8AA0C-E564-4080-BCC4-8A770C1DA73B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09EF8147-489B-4570-8B2E-D24839F3EAF3</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>121CED9E-0588-489D-9DFA-1B400CF57133</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>65923303-E73E-4DC0-A5FF-F9B1C1B38245</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>6A10A053-16E6-425F-AFC3-8B37958F87F4</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>AD457EE2-3852-403B-9D5D-4879D768834F</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D2B8AA0C-E564-4080-BCC4-8A770C1DA73B</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>FD54D6D5-6EEF-4150-9A25-484F64E3ACE6</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
