<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mcduffie.saveasapplescripttextfile</string>
	<key>connections</key>
	<dict>
		<key>601CBFCB-3D1D-4D6F-9790-AA221966ADF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6559028B-DC1E-40B3-9A88-DE9F2CDB2AB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike McDuffie</string>
	<key>description</key>
	<string>Saves current document as applescript text file in ~/Programming/Applescripts/</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Save as applescript text file</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/save-as-applescript-text-file.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6559028B-DC1E-40B3-9A88-DE9F2CDB2AB9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.ScriptEditor2</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>601CBFCB-3D1D-4D6F-9790-AA221966ADF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>601CBFCB-3D1D-4D6F-9790-AA221966ADF3</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>6559028B-DC1E-40B3-9A88-DE9F2CDB2AB9</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
