<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sztoltz.movetodropbox</string>
	<key>connections</key>
	<dict>
		<key>0610D333-1FD9-462B-A4FB-03830CE1DCC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B350DD4A-3799-4302-90DC-BC8418D1E637</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>115E6E21-2F5B-4EDE-9023-5F0D51899E9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0E53296-5481-4DEA-97ED-39AA24C36798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>148F21A0-2113-4036-B8DC-428A000AD7D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0E53296-5481-4DEA-97ED-39AA24C36798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>24DB6B86-B770-4E9C-B7B1-D7EAC3B6ADA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B350DD4A-3799-4302-90DC-BC8418D1E637</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>76A1064B-11FA-4FE0-B5DD-94096AEEE951</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2E0C45C-5EF5-4D18-9F4E-3B7031B6214A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7B526BC1-0026-4ADF-8EBD-072E2AF8D6A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2E0C45C-5EF5-4D18-9F4E-3B7031B6214A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2E0C45C-5EF5-4D18-9F4E-3B7031B6214A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57372533-01AC-436B-8C55-F928B4A41E61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B350DD4A-3799-4302-90DC-BC8418D1E637</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>387BF4F7-A286-4FE5-BAD2-84FEEB42BC2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B87F2CCC-F36C-4536-9DEC-86911B630352</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0E53296-5481-4DEA-97ED-39AA24C36798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB58E830-3016-4941-AF6C-97F55941F642</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2E0C45C-5EF5-4D18-9F4E-3B7031B6214A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E0E53296-5481-4DEA-97ED-39AA24C36798</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57372533-01AC-436B-8C55-F928B4A41E61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Alberto Sztoltz</string>
	<key>description</key>
	<string>Copy or move a file to Dropbox + URL to the clipboard (3.0)</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>To Dropbox</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>movedb</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/filter_db.scpt")) with parameters {"move"}</string>
				<key>subtext</key>
				<string>Selected file from Finder or Path Finder</string>
				<key>title</key>
				<string>Move to Dropbox Public Folder</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B87F2CCC-F36C-4536-9DEC-86911B630352</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/move_db.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0E53296-5481-4DEA-97ED-39AA24C36798</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>115E6E21-2F5B-4EDE-9023-5F0D51899E9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to Dropbox Public Folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>148F21A0-2113-4036-B8DC-428A000AD7D8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>To Dropbox</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>57372533-01AC-436B-8C55-F928B4A41E61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>copydb</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/filter_db.scpt")) with parameters {"copy"}</string>
				<key>subtext</key>
				<string>Selected file from Finder or Path Finder</string>
				<key>title</key>
				<string>Copy to Dropbox Public Folder</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B526BC1-0026-4ADF-8EBD-072E2AF8D6A7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/copy_db.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2E0C45C-5EF5-4D18-9F4E-3B7031B6214A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>76A1064B-11FA-4FE0-B5DD-94096AEEE951</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy To Dropbox Public Folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>BB58E830-3016-4941-AF6C-97F55941F642</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>setup_tdb</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/setup.scpt")) with parameters {"{query}"}</string>
				<key>title</key>
				<string>Setup To Dropbox</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24DB6B86-B770-4E9C-B7B1-D7EAC3B6ADA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/setup_steps.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B350DD4A-3799-4302-90DC-BC8418D1E637</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>To Dropbox Setup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>387BF4F7-A286-4FE5-BAD2-84FEEB42BC2C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>❊ db_folder</string>
				<key>scopes</key>
				<array/>
				<key>title</key>
				<string>Start typing to select a folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0610D333-1FD9-462B-A4FB-03830CE1DCC0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>workflow library by Ursan Razvan</string>
	<key>uidata</key>
	<dict>
		<key>0610D333-1FD9-462B-A4FB-03830CE1DCC0</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>115E6E21-2F5B-4EDE-9023-5F0D51899E9A</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>148F21A0-2113-4036-B8DC-428A000AD7D8</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>24DB6B86-B770-4E9C-B7B1-D7EAC3B6ADA8</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>387BF4F7-A286-4FE5-BAD2-84FEEB42BC2C</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>57372533-01AC-436B-8C55-F928B4A41E61</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>76A1064B-11FA-4FE0-B5DD-94096AEEE951</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>7B526BC1-0026-4ADF-8EBD-072E2AF8D6A7</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>A2E0C45C-5EF5-4D18-9F4E-3B7031B6214A</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>B350DD4A-3799-4302-90DC-BC8418D1E637</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>B87F2CCC-F36C-4536-9DEC-86911B630352</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BB58E830-3016-4941-AF6C-97F55941F642</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>E0E53296-5481-4DEA-97ED-39AA24C36798</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
