<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>eu.gonzonet.brew</string>
	<key>connections</key>
	<dict>
		<key>15867985-EFF5-4ED0-89E1-9AACC8EE1661</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20FFF8B5-079E-454A-BBF6-033BF9A15559</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>163BB392-C918-4CE8-A2D1-F67D2CEAE515</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E542EA1E-83A9-46F5-B867-1FAA00642667</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1C9BC273-722C-4C61-9C6D-751C04B24F47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B2604A0-7B0D-47D4-AFE8-B95A8CA11C57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A262191-9D32-4958-B665-D5E0F8EFD0AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15867985-EFF5-4ED0-89E1-9AACC8EE1661</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>51BBB598-80EB-4587-9BAD-58F972370E33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DDDD3DE-6A9D-466F-BFFD-BD82EB3C8390</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6DDDD3DE-6A9D-466F-BFFD-BD82EB3C8390</key>
		<array/>
		<key>81122C70-5398-4A80-8277-6C3ECC899B39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF87AA49-4C6A-475E-87F5-269FC0F1677B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9B50D360-6F20-4192-B32A-3049497B5796</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D491C1C2-DE14-41BB-8A99-FEBFD197DC4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A7D2D8AD-BED4-460A-B103-7001026DEA6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81122C70-5398-4A80-8277-6C3ECC899B39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CC378FF0-175A-4992-A0FE-7E5927419EE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD531D85-7EC6-423A-8F83-D34D2C2F3CC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D491C1C2-DE14-41BB-8A99-FEBFD197DC4F</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Daniel Gonzalez</string>
	<key>description</key>
	<string>Run Homebrew Commands from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Homebrew</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>brew search</string>
				<key>subtext</key>
				<string>Perform a substring search of formula names</string>
				<key>text</key>
				<string>Homebrew Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A7D2D8AD-BED4-460A-B103-7001026DEA6B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>EF87AA49-4C6A-475E-87F5-269FC0F1677B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/brew search {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81122C70-5398-4A80-8277-6C3ECC899B39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew install {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>6DDDD3DE-6A9D-466F-BFFD-BD82EB3C8390</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brew install</string>
				<key>subtext</key>
				<string>Install formula</string>
				<key>text</key>
				<string>Homebrew Install</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51BBB598-80EB-4587-9BAD-58F972370E33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brew remove</string>
				<key>subtext</key>
				<string>Uninstall formula</string>
				<key>text</key>
				<string>Homebrew Remove</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1C9BC273-722C-4C61-9C6D-751C04B24F47</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew remove {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>8B2604A0-7B0D-47D4-AFE8-B95A8CA11C57</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew update</string>
				<key>subtext</key>
				<string>Fetch the newest version of Homebrew from GitHub</string>
				<key>text</key>
				<string>Homebrew Update</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC378FF0-175A-4992-A0FE-7E5927419EE3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>CD531D85-7EC6-423A-8F83-D34D2C2F3CC8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew upgrade</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>D491C1C2-DE14-41BB-8A99-FEBFD197DC4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew upgrade</string>
				<key>subtext</key>
				<string>Upgrade outdated, unpinned brews</string>
				<key>text</key>
				<string>Homebrew Upgrade</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B50D360-6F20-4192-B32A-3049497B5796</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>20FFF8B5-079E-454A-BBF6-033BF9A15559</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>brew info</string>
				<key>subtext</key>
				<string>Display information about formula</string>
				<key>text</key>
				<string>Homebrew Info</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A262191-9D32-4958-B665-D5E0F8EFD0AD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/brew info {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>15867985-EFF5-4ED0-89E1-9AACC8EE1661</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>brew cleanup</string>
				<key>subtext</key>
				<string>Remove old versions of formulae</string>
				<key>text</key>
				<string>Homebrew Clean Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>163BB392-C918-4CE8-A2D1-F67D2CEAE515</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew cleanup {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>E542EA1E-83A9-46F5-B867-1FAA00642667</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15867985-EFF5-4ED0-89E1-9AACC8EE1661</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>163BB392-C918-4CE8-A2D1-F67D2CEAE515</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>1C9BC273-722C-4C61-9C6D-751C04B24F47</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>20FFF8B5-079E-454A-BBF6-033BF9A15559</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>4A262191-9D32-4958-B665-D5E0F8EFD0AD</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>51BBB598-80EB-4587-9BAD-58F972370E33</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6DDDD3DE-6A9D-466F-BFFD-BD82EB3C8390</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>81122C70-5398-4A80-8277-6C3ECC899B39</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8B2604A0-7B0D-47D4-AFE8-B95A8CA11C57</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9B50D360-6F20-4192-B32A-3049497B5796</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>A7D2D8AD-BED4-460A-B103-7001026DEA6B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CC378FF0-175A-4992-A0FE-7E5927419EE3</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>CD531D85-7EC6-423A-8F83-D34D2C2F3CC8</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>D491C1C2-DE14-41BB-8A99-FEBFD197DC4F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E542EA1E-83A9-46F5-B867-1FAA00642667</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>EF87AA49-4C6A-475E-87F5-269FC0F1677B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/gonzolino</string>
</dict>
</plist>
