<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mcduffie.openfolders</string>
	<key>connections</key>
	<dict>
		<key>08B7E0A9-4F6D-4F3C-AA96-1F26AF1395EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0A0C429-6A73-4DBB-8135-A44516DAFAEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>290E14C4-1430-48B0-872E-19EE8EF8B3D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F387956E-2E4A-43BE-A075-E9C907C43543</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>39D70671-FC8F-4B3D-96CF-09C7CD32F57A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85EA019C-DAC3-4C53-8C33-6AA85BA43777</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6B2FE14E-B34A-4695-9F06-CBADC69A6738</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A69EBA1-6157-4EC3-9F54-662ECF58F215</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D11F39DD-FC37-4C73-B529-2214731892E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99616108-ACDA-4B88-ABEF-76F6FDFEB883</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4C352A7-419C-4C6F-A832-542F2974D1D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>934725D5-FEF3-46F8-8ABE-46A2C64EA607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike McDuffie</string>
	<key>description</key>
	<string>Open movies &amp; TV show folders on media servers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Movie &amp; TV Folders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>movies</string>
				<key>subtext</key>
				<string>Movies folder on media1</string>
				<key>text</key>
				<string>Open Movies</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0599899-ADDA-4673-96A5-3A353EF86396</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/media1/Movies</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>classics</string>
				<key>subtext</key>
				<string>Open Classic Movies folder on media1</string>
				<key>text</key>
				<string>Open Classic Movies</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>08B7E0A9-4F6D-4F3C-AA96-1F26AF1395EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/media1/Movies/Classics</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F0A0C429-6A73-4DBB-8135-A44516DAFAEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/media1/Movies/Mystery</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F387956E-2E4A-43BE-A075-E9C907C43543</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mystery</string>
				<key>subtext</key>
				<string>Open Mystery Movies folder on media1</string>
				<key>text</key>
				<string>Open Mystery Movies</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>290E14C4-1430-48B0-872E-19EE8EF8B3D3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>animation</string>
				<key>subtext</key>
				<string>Open Animation movies folder on media1</string>
				<key>text</key>
				<string>Open Animation Movies</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B2FE14E-B34A-4695-9F06-CBADC69A6738</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/media1/Movies/Animation</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2A69EBA1-6157-4EC3-9F54-662ECF58F215</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/media2/TV Shows</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>85EA019C-DAC3-4C53-8C33-6AA85BA43777</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tv</string>
				<key>subtext</key>
				<string>Open TV Shows folder on media2</string>
				<key>text</key>
				<string>Open TV Shows</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>39D70671-FC8F-4B3D-96CF-09C7CD32F57A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cartoons</string>
				<key>subtext</key>
				<string>Open Cartoons folder on media2</string>
				<key>text</key>
				<string>Open Cartoons</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D11F39DD-FC37-4C73-B529-2214731892E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/media2/Cartoons</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>99616108-ACDA-4B88-ABEF-76F6FDFEB883</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shorts</string>
				<key>subtext</key>
				<string>Open short films folder on media2</string>
				<key>text</key>
				<string>Open Shorts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D4C352A7-419C-4C6F-A832-542F2974D1D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/media2/Shorts</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>934725D5-FEF3-46F8-8ABE-46A2C64EA607</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08B7E0A9-4F6D-4F3C-AA96-1F26AF1395EA</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>290E14C4-1430-48B0-872E-19EE8EF8B3D3</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>2A69EBA1-6157-4EC3-9F54-662ECF58F215</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>39D70671-FC8F-4B3D-96CF-09C7CD32F57A</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>6B2FE14E-B34A-4695-9F06-CBADC69A6738</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>85EA019C-DAC3-4C53-8C33-6AA85BA43777</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>934725D5-FEF3-46F8-8ABE-46A2C64EA607</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>99616108-ACDA-4B88-ABEF-76F6FDFEB883</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D11F39DD-FC37-4C73-B529-2214731892E9</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>D4C352A7-419C-4C6F-A832-542F2974D1D0</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>F0A0C429-6A73-4DBB-8135-A44516DAFAEC</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>F387956E-2E4A-43BE-A075-E9C907C43543</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
