<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sztoltz.newfiletag</string>
	<key>connections</key>
	<dict>
		<key>08C6E89E-B789-47F5-95E3-70090FA5E9B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47550A9C-4438-4647-A2D3-02FB7033F7F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0AE8426E-D3DE-45A9-86F7-90A8E254550C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>508BB660-1086-4A6A-AB89-EE713C781803</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>17E777B6-1731-4160-AD87-42DC92757E3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D515813-7CD1-4854-9284-3FB43346FEBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1DDF5474-C92C-4927-9CF5-3E660B0F1442</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47550A9C-4438-4647-A2D3-02FB7033F7F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4B091D6-5CDA-453C-AC38-58208AECE088</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>New file in Finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D21BB5FE-9574-4F2C-8B3E-A050F2126F5D</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Prepend text to a file</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>378FF488-5567-4F36-A614-72DFF5B7F4DC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Append text to a file</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D515813-7CD1-4854-9284-3FB43346FEBF</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Prepend text to journal</string>
			</dict>
		</array>
		<key>47550A9C-4438-4647-A2D3-02FB7033F7F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>191C4473-CA11-4181-B8EC-97ED9A976BA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A99A224-8703-48C9-9E55-F891B24CFF4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>820882A1-B13E-413E-A481-47A2DF33BD79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>508BB660-1086-4A6A-AB89-EE713C781803</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>251DE846-1E02-4201-9160-5352C824798A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7D562F35-EA6A-48D0-B8EE-2F1D001D4421</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3400CAC2-97DC-4D3C-924F-A1F910AD4FC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>820882A1-B13E-413E-A481-47A2DF33BD79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B5F795F-6CDF-463A-8CDC-F5552418F4CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>88F1951A-0B3E-479D-96C4-B389C13DACA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5A2515E-566A-4C09-A1F2-F6A7AA27930F</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Paste to topmost application</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FC9BB03B-AF05-4406-9C1A-E2D8F055D7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B7BA6F7-C145-4B6C-BF25-22D1D5D1B5CD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add tags</string>
			</dict>
		</array>
		<key>8D515813-7CD1-4854-9284-3FB43346FEBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>191C4473-CA11-4181-B8EC-97ED9A976BA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8E6497F7-346B-40D7-9BA1-5084C8BFA083</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88F1951A-0B3E-479D-96C4-B389C13DACA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AF602EAA-A245-474B-93E0-5D887124E264</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F10FF6D5-F27B-49E9-B7B7-B704214C47F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C5A2515E-566A-4C09-A1F2-F6A7AA27930F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FCA7C58-4619-4054-98F1-58C8F9A21152</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D0678217-7DD4-430A-A2FF-95E2D70AFE6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B5F795F-6CDF-463A-8CDC-F5552418F4CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D21BB5FE-9574-4F2C-8B3E-A050F2126F5D</key>
		<array/>
		<key>D4B091D6-5CDA-453C-AC38-58208AECE088</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>191C4473-CA11-4181-B8EC-97ED9A976BA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4F7D53F-E860-4D91-AFC4-6062AEAD64C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0678217-7DD4-430A-A2FF-95E2D70AFE6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB8B578D-4EDF-4120-80E0-616E33491315</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>508BB660-1086-4A6A-AB89-EE713C781803</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F10FF6D5-F27B-49E9-B7B7-B704214C47F6</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Carlos Alberto Sztoltz</string>
	<key>description</key>
	<string>Create a new text file with openmeta tags (4.0)</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>New text file with tag</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>New from text selection</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>08C6E89E-B789-47F5-95E3-70090FA5E9B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_add.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47550A9C-4438-4647-A2D3-02FB7033F7F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_add.scpt")) with parameters {"{query}-tofinder"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4B091D6-5CDA-453C-AC38-58208AECE088</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nf</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_filter.scpt")) with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Tag: topmost app name</string>
				<key>title</key>
				<string>New text file</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1DDF5474-C92C-4927-9CF5-3E660B0F1442</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_append.scpt")) with parameters {"{query}||p"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D21BB5FE-9574-4F2C-8B3E-A050F2126F5D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New Text File with Tag</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>191C4473-CA11-4181-B8EC-97ED9A976BA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_append.scpt")) with parameters {"{query}||a"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>378FF488-5567-4F36-A614-72DFF5B7F4DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Add text to journal</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>17E777B6-1731-4160-AD87-42DC92757E3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_journal.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D515813-7CD1-4854-9284-3FB43346FEBF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>do shell script "open " &amp; (quoted form of (POSIX path of ((do shell script "pwd") &amp; "/help.pdf")))</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3400CAC2-97DC-4D3C-924F-A1F910AD4FC6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nf?</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_filter_help.scpt")) with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Learn about New Text File with Tag wokflow</string>
				<key>title</key>
				<string>Help</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D562F35-EA6A-48D0-B8EE-2F1D001D4421</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2FCA7C58-4619-4054-98F1-58C8F9A21152</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_paste.scpt")) with parameters {"{query}"}

--osascript paste_newfiletag.scpt "{query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5A2515E-566A-4C09-A1F2-F6A7AA27930F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_open.scpt")) with parameters {"{query}"}

--osascript open_newfiletag.scpt "{query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC9BB03B-AF05-4406-9C1A-E2D8F055D7B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>ns </string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8E6497F7-346B-40D7-9BA1-5084C8BFA083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ns</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_search.scpt")) with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Search text files in working folder</string>
				<key>title</key>
				<string>Search</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>88F1951A-0B3E-479D-96C4-B389C13DACA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_tag.scpt")) with parameters {"{query}||1"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B7BA6F7-C145-4B6C-BF25-22D1D5D1B5CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "news " &amp; "{query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F10FF6D5-F27B-49E9-B7B7-B704214C47F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>New text file with tag working folder</string>
				<key>text</key>
				<string>Search text file folder for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>AF602EAA-A245-474B-93E0-5D887124E264</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>setup-nft</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_setup.scpt")) with parameters {"{query}||f"}</string>
				<key>title</key>
				<string>Setup New Text File with Tag</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0AE8426E-D3DE-45A9-86F7-90A8E254550C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New Text File with Tag</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>251DE846-1E02-4201-9160-5352C824798A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_setup.scpt")) with parameters {"{query}||s"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>508BB660-1086-4A6A-AB89-EE713C781803</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>❊ folder</string>
				<key>scopes</key>
				<array/>
				<key>title</key>
				<string>Start typing to select a folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>DB8B578D-4EDF-4120-80E0-616E33491315</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>❊ tags:</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_tag.scpt")) with parameters {"{query}||2"}</string>
				<key>title</key>
				<string>Add tag</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4F7D53F-E860-4D91-AFC4-6062AEAD64C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_tag.scpt")) with parameters {"{query}||3"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0678217-7DD4-430A-A2FF-95E2D70AFE6D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New Text File with Tag</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B5F795F-6CDF-463A-8CDC-F5552418F4CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_append.scpt")) with parameters {"{query}||e"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>820882A1-B13E-413E-A481-47A2DF33BD79</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>❊ ns</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/nft_append.scpt")) with parameters {"{query}||s"}</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4A99A224-8703-48C9-9E55-F891B24CFF4E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Icons: Art Text 2

workflow library by Ursan Razvan

Some code snippets from:

Mail Actions by Pedro Logo
Send URL by Jonas Eriksen

Feedback and testing:

twinpeaks</string>
	<key>uidata</key>
	<dict>
		<key>08C6E89E-B789-47F5-95E3-70090FA5E9B5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0AE8426E-D3DE-45A9-86F7-90A8E254550C</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>17E777B6-1731-4160-AD87-42DC92757E3D</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>191C4473-CA11-4181-B8EC-97ED9A976BA8</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>1B5F795F-6CDF-463A-8CDC-F5552418F4CC</key>
		<dict>
			<key>ypos</key>
			<real>1250</real>
		</dict>
		<key>1DDF5474-C92C-4927-9CF5-3E660B0F1442</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>251DE846-1E02-4201-9160-5352C824798A</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>2FCA7C58-4619-4054-98F1-58C8F9A21152</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>3400CAC2-97DC-4D3C-924F-A1F910AD4FC6</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>378FF488-5567-4F36-A614-72DFF5B7F4DC</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>47550A9C-4438-4647-A2D3-02FB7033F7F4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4A99A224-8703-48C9-9E55-F891B24CFF4E</key>
		<dict>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>508BB660-1086-4A6A-AB89-EE713C781803</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>6B7BA6F7-C145-4B6C-BF25-22D1D5D1B5CD</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>7D562F35-EA6A-48D0-B8EE-2F1D001D4421</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>820882A1-B13E-413E-A481-47A2DF33BD79</key>
		<dict>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>88F1951A-0B3E-479D-96C4-B389C13DACA2</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>8D515813-7CD1-4854-9284-3FB43346FEBF</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>8E6497F7-346B-40D7-9BA1-5084C8BFA083</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>AF602EAA-A245-474B-93E0-5D887124E264</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>C5A2515E-566A-4C09-A1F2-F6A7AA27930F</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>D0678217-7DD4-430A-A2FF-95E2D70AFE6D</key>
		<dict>
			<key>ypos</key>
			<real>1200</real>
		</dict>
		<key>D21BB5FE-9574-4F2C-8B3E-A050F2126F5D</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>D4B091D6-5CDA-453C-AC38-58208AECE088</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>D4F7D53F-E860-4D91-AFC4-6062AEAD64C5</key>
		<dict>
			<key>ypos</key>
			<real>1200</real>
		</dict>
		<key>DB8B578D-4EDF-4120-80E0-616E33491315</key>
		<dict>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>F10FF6D5-F27B-49E9-B7B7-B704214C47F6</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>FC9BB03B-AF05-4406-9C1A-E2D8F055D7B4</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
