<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mcduffie.checkcomicbook</string>
	<key>connections</key>
	<dict>
		<key>887A5B23-A6E8-47FC-BCF4-09569787C41A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDAB13A1-B4E0-4C3A-839C-432E1ACF952B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike McDuffie</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Check Comic Archives</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cb</string>
				<key>subtext</key>
				<string>in frontmost Finder window</string>
				<key>text</key>
				<string>Check Comic Archives</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>887A5B23-A6E8-47FC-BCF4-09569787C41A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cdf; cb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>CDAB13A1-B4E0-4C3A-839C-432E1ACF952B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>887A5B23-A6E8-47FC-BCF4-09569787C41A</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>CDAB13A1-B4E0-4C3A-839C-432E1ACF952B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
