<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mcduffie.skiptrackitunes</string>
	<key>connections</key>
	<dict>
		<key>0699918D-448E-4C1D-8BD2-B58A0C2B30F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94C4B948-3E12-4934-A692-B16EFB416F0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD3D4504-43B6-4F3D-B794-888BF049EA92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike &amp; Marie</string>
	<key>description</key>
	<string>Various One Keyword iTunes playback controls</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iTunes Playback Controls</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>CD3D4504-43B6-4F3D-B794-888BF049EA92</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>skip</string>
				<key>subtext</key>
				<string>Skip to next song/track in iTunes</string>
				<key>text</key>
				<string>Skip Track in iTunes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>94C4B948-3E12-4934-A692-B16EFB416F0C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pause-play</string>
				<key>subtext</key>
				<string>Pause/Play Track in iTunes</string>
				<key>text</key>
				<string>Pause/Play Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0699918D-448E-4C1D-8BD2-B58A0C2B30F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0699918D-448E-4C1D-8BD2-B58A0C2B30F7</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>94C4B948-3E12-4934-A692-B16EFB416F0C</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>CD3D4504-43B6-4F3D-B794-888BF049EA92</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
